.home {
   
}

iframe {
   /* border: blue solid 2px;*/
    width: 100%;
    height: 600px;
}

@media screen and (max-width: 770px) {
 iframe {
   height:  350px;
}

}
@media screen and (max-width: 516px) {
  iframe {
  height:  330px;
   
}
  }
.map {
    width: 100w;
    
}
