.nav {
    width: 100w;
    /*border: blue solid 2px;*/
    
}
.nav a {
  text-decoration: none;
  color: #c0185b;
}
#webgl{
 /* border: green solid 2px;*/
}
.brand-name {
  /*border: green solid 2px;*/
   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

@media screen and (max-width: 375px) {
  .brand-name  {
    justify-content: center;
  }
}
.authentification {
  /*border: green solid 2px;*/
  padding-right: 10px;
  display: flex;
  font-size: 12px;
}

.authentificated {
  /*border: blue solid 2px;*/
  display: flex;
  flex-direction: column;
}

.auth {
  display: none;
}
.un {
  display: block;
}
.accueil {

}
.nav-onglet {
 text-align: left;
 font-size: 14px;
}
.dark {
  background-color: /*#1f262d*/ #001529;
  color : white;
  transition-delay: 0.1s;
}
.switch {
  
  border: none;
  background-color: white;
}
.switch :active {
  
  border: none;
  background-color: white;
}
